header {
  background: var(--secondary-gradient);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  nav {
    menu {
      list-style: none;
    }
  }
}
